In [1]:
x<-10.5
y<-55

In [2]:
x

[1] 10.5

In [3]:
y

[1] 55

In [4]:
class(x)
class(y)

[1] "numeric"

[1] "numeric"

### Type Conversion
You can convert from one type to another with the following functions:
- `as.numeric()`
- `as.integer()`
- `as.complex()`

In [5]:
x <- 1L #integer
y <- 2 #numeric

In [9]:
# convert from integer to numeric
a <- as.numeric(x)
a
class(a)

[1] 1

[1] "numeric"

In [10]:
b <- as.integer(y)
b
class(b)

[1] 2

[1] "integer"

In [11]:
max(5,10,15)

[1] 15

In [12]:
min(5,10,15)

[1] 5

In [13]:
sqrt(16)

[1] 4

In [14]:
abs(-5)

[1] 5

In [1]:
abs(-4.7)

[1] 4.7

### Ceiling and Floor
- The `ceiling()` function rounds a number upwards to its nearest integer, and the `floor()` function rounds a number downwards to its nearest integer

In [2]:
ceiling(1.4)

[1] 2

In [3]:
floor(1.4)

[1] 1

In [4]:
ceiling(2.7)

[1] 3

In [5]:
floor(2.7)

[1] 2

### R Strings
String Literals
- A character, or strings are used for storing text. A string is surrounded by either single quotation marks, or double quotation marks.
- `"hello"` is same as `'hello'`
- Assigning a string to a variable is done with the variable followed by the `<-` operator and the string: `str <- "Hello World!"`

In [6]:
str <- "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in nisi id urna dapibus
ullamcorper et eget libero. Fusce a faucibus purus. Praesent viverra diam eu venenatis dictum.
Cras sit amet vestibulum dolor.
Nulla condimentum scelerisque tellus a varius. Curabitur sit amet luctus nibh.
Mauris bibendum sodales ex eget sodales. Nullam et velit neque.
Sed ut urna vitae libero tempus pharetra nec nec sem.
Quisque lectus ex, bibendum id mauris non, fermentum maximus ex. Sed non libero arcu."

In [9]:
str

[1] "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in nisi id urna dapibus\nullamcorper et eget libero. Fusce a faucibus purus. Praesent viverra diam eu venenatis dictum.\nCras sit amet vestibulum dolor.\nNulla condimentum scelerisque tellus a varius. Curabitur sit amet luctus nibh.\nMauris bibendum sodales ex eget sodales. Nullam et velit neque.\nSed ut urna vitae libero tempus pharetra nec nec sem.\nQuisque lectus ex, bibendum id mauris non, fermentum maximus ex. Sed non libero arcu."

In [10]:
cat(str)

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in nisi id urna dapibus
ullamcorper et eget libero. Fusce a faucibus purus. Praesent viverra diam eu venenatis dictum.
Cras sit amet vestibulum dolor.
Nulla condimentum scelerisque tellus a varius. Curabitur sit amet luctus nibh.
Mauris bibendum sodales ex eget sodales. Nullam et velit neque.
Sed ut urna vitae libero tempus pharetra nec nec sem.
Quisque lectus ex, bibendum id mauris non, fermentum maximus ex. Sed non libero arcu.

In [11]:
nchar(str)

[1] 496

### Matrices
- Matrix is a two dimensional data set with columns and rows
- A column is a vertical representation of data, while a row is a horizontal representation of data.
- A matrix can be created with the `matrix()` function. Specify the `nrow` and `ncol` parameters to get the amount of rows and columns

In [1]:
matrix1 <- matrix(c(1,2,3,4,5,6),nrow=3,ncol=2)

In [4]:
matrix1

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

In [3]:
print(matrix1)

     [,1] [,2]
[1,]    1    4
[2,]    2    5
[3,]    3    6

In [16]:
matrix(c(1,2,3,4,5,6),nrow=3,ncol=2,byrow = TRUE)

     [,1] [,2]
[1,] 1    2
[2,] 3    4
[3,] 5    6

In [5]:
matrix2 <- matrix(c('apple','banana','cherry','orange'),nrow=2,ncol=2)

In [6]:
matrix2

     [,1]   [,2]
[1,] apple  cherry
[2,] banana orange

In [8]:
print(matrix2)

     [,1]     [,2]
[1,] "apple"  "cherry"
[2,] "banana" "orange"

In [9]:
matrix3 <- matrix(c("apple",'banana', 'cherry',
                          'orange', 'grape','pineapple','pear','melon','fig'),
                       nrow=3,ncol=3)

In [10]:
matrix3

     [,1]   [,2]      [,3]
[1,] apple  orange    pear
[2,] banana grape     melon
[3,] cherry pineapple fig

#### Accessing multiple rows

In [11]:
matrix3[c(1,2),]

     [,1]   [,2]   [,3]
[1,] apple  orange pear
[2,] banana grape  melon

#### Accessing multiple columns

In [12]:
matrix3[,c(1,2)]

     [,1]   [,2]
[1,] apple  orange
[2,] banana grape
[3,] cherry pineapple

#### Adding rows and columns
- Use `cbind()` to add columns
- Use `rbind()` to add rows
- **The cells in the new column / row must be of same length as the existing matrix**

In [16]:
matrix3.1 <- cbind(matrix3,c("strawberry","blueberry","raspberry"))

In [17]:
print(matrix3.1)

     [,1]     [,2]        [,3]    [,4]
[1,] "apple"  "orange"    "pear"  "strawberry"
[2,] "banana" "grape"     "melon" "blueberry"
[3,] "cherry" "pineapple" "fig"   "raspberry"

In [18]:
matrix3.2 = rbind(matrix3.1,c("mango","litchee","guava","cranberry"))

In [19]:
print(matrix3.2)

     [,1]     [,2]        [,3]    [,4]
[1,] "apple"  "orange"    "pear"  "strawberry"
[2,] "banana" "grape"     "melon" "blueberry"
[3,] "cherry" "pineapple" "fig"   "raspberry"
[4,] "mango"  "litchee"   "guava" "cranberry"

#### Removing Rows & Columns
- Use the `c()` function to remove rows and columns in a matrix

In [20]:
print(matrix3.2[-c(1),-c(1)])

     [,1]        [,2]    [,3]
[1,] "grape"     "melon" "blueberry"
[2,] "pineapple" "fig"   "raspberry"
[3,] "litchee"   "guava" "cranberry"

In [21]:
print(matrix3.2[-c(4),-c(4)])

     [,1]     [,2]        [,3]
[1,] "apple"  "orange"    "pear"
[2,] "banana" "grape"     "melon"
[3,] "cherry" "pineapple" "fig"

In [22]:
matrix4 <- matrix3.2[-c(4),-c(4)]

In [24]:
print(matrix4)

     [,1]     [,2]        [,3]
[1,] "apple"  "orange"    "pear"
[2,] "banana" "grape"     "melon"
[3,] "cherry" "pineapple" "fig"